:root {
  --illini-orange: #FF5F05;
  --illini-blue: #13294B;
  --illini-storm1: #707372;
  --illini-storm2: #C8C6C7;
  --box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .8);
}

html, body {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--illini-orange); 
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-site-link {
  margin: 1rem;
}

.site-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.site-title-wrapper {
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 2rem;
  color: var(--illini-blue);
  font-weight: bold;
  margin: 0;
}
.site-subtitle {
  font-size: 1rem;
  color: var(--illini-blue);
  /* font-weight: bold; */
  margin: 0;
  text-align: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  margin: 1rem;
  margin-left: auto;
  gap: 1rem;
}

.menu-link {
  font-size: 1.5rem;
  color: var(--illini-blue);
  text-decoration: none;
  font-weight: bold;
}

.menu-link:hover {
  color: white;
}

.logo {
  border-radius: 50%;
  height: 5.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  background-image: url("images/teampicture.jpg");
  background-size: cover;
  height: 50rem;
  background-position: center 100%;
  box-shadow: var(--box-shadow);
  position: relative;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.story {
  display: flex;
  background-color: #707372;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--illini-blue);
}

footer * {
  color: var(--illini-orange);
}

section {
  display: flex;
  padding: 0;
  box-shadow: var(--box-shadow);
  position: relative;
}

.story-section {
  background-color: #707372;
  z-index: 5;
}

.officers-section {
  background-color: #C8C6C7;
  z-index: 4;
}

.roster {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}